{{ '{' }}
{% for host in wtd_srv_cockpit_web_conf_clients %}
    "{{ host.name }}" : {{ '{' }}
        "visible" : "true",
        {% if host.color is defined %}
        "color" : "{{ host.color }}",
        {% endif %}
        {% if host.port is defined %}
        "port" : "{{ host.port }}",
        {% endif %}
        "address" : "{{ host.name }}"
    {% if loop.last %}
    {{ '}' }}
    {% else %}
    {{ '},' }}
    {% endif %}
{% endfor %}
{{ '}' }}
